#login-form {
    width:  30%;
    height: 50%;
    margin: 20%;
    margin-top: 5%;
   
}
.todo_form{
    margin-top: 2%;
    margin-left: 2%;
}
#heading {
    margin: 2%;
}
.btn{
    margin-top: 2%;
    margin-bottom: 2%;
}
.table{
    margin: 2%;
    padding: 4%;
    width: 50%;
}
.abcd{
    width: 25%;
    margin: 0%;
}
.xyxy{
    margin-right: 63%;
}